<plugin>
	<nom>Grilles</nom>
	<auteur>Lucky Semiosis
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	stable
	</etat>
	<description>
	Gestion et administration des grilles de saisie
	</description>
	<lien>http://luckysemiosis.mundigo.com/spip</lien> <!-- URI de documentation -->
	<options> <!-- fichier charge a chaque hit -->
	forms_options.php
	</options>
	<fonctions> <!-- fichier charge a chaque recalul de page -->
	forms_fonctions.php
	</fonctions>
	<prefix> 
	Forms
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>pre_propre</nom>
		<action>forms_avant_propre</action>
		<inclure>forms_filtres.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_propre</nom>
		<action>forms_apres_propre</action>
		<inclure>forms_filtres.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>forms_filtres.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_droite</nom>
		<action>affiche_droite</action>
		<inclure>forms_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>forms_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<inclure>forms_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>forms_pipeline.php</inclure>
	</pipeline>
	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>
