/*** D�monstration de XUL ***/
window{
  background-color: #000000;  
  color                 : #000000;
  text-decoration       : none;
}


.menubar 
{
	font-size: 18px !important;
  font-family: arial, verdana, sans-serif !important;
  background-color: #000000;  
  color                 : #FFFFFF;
  text-decoration       : none;
}

.menubartext
{
  color                 : #FFFFFF;
  text-decoration       : none;
  margin:20px 0 0 0;
} 

.menubartext:hover
{
  color                 : red;
  text-decoration       : underline;
  cursor                : pointer;
}

.txtRepCon
{
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
	min-width:400px;
}

.global 
{
	margin : 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
}


.BoiteV
{
	-moz-box-flex:1;
  	color: #FFFFFF;
	background-color: #000000; 
}

.titre {
	font-size: 12px !important;
	font-weight:bold;
	font-family: arial, verdana, sans-serif !important;
	padding:3px 0 3px 5px;
	margin:3px 3px 3px 3px;
}

.titreLiens {
	color: #000000;
	text-decoration: none;
	padding:7px 0 0px 0px;
	margin:0px 0px 0px 0px;
}

.titreLiens:hover {
	color: #000000;
	text-decoration: underline;
}

.bw 
{
	background-color:#000000;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #FFFFFF;
}

.legende 
{
	background-color:#000000;
	font-size: 12px !important;
  	color                 : #FFFFFF;
}

.wb 
{
	background-color:#FFFFFF;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #000000;
}

.tab
{
	background-color:black;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #000000;
}

.tabbox
{
	background-color:black;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #000000;
}

.tabpanel
{
	background-color:black;
	font-size: 16px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #000000;
}

.ariane 
{
	background-color:#000000;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #FFFFFF;
}

.filariane 
{
	background-color:#FFFFFF;
	font-size: 14px !important;
	font-family: arial, verdana, sans-serif !important;
  	color                 : #000000;
}

.text-link
{
  color                 : #FFFFFF;
  text-decoration       : none;
}

.text-link:focus
{
  color                 : red;
  text-decoration       : none;
}

.text-link:hover
{
  color                 : #FFFFFF;
  text-decoration       : underline;
  cursor                : pointer;
} 

.text-link:hover:active
{
  color                 : green;
  text-decoration       : underline;
} 

.text-link[visited="true"] 
{
  color                 : purple;
}


.text-link2
{
  color                 : #000000;
  text-decoration       : none;
	background-color: #FFFFFF; 
}

.text-link2:focus
{
  color                 : red;
  text-decoration       : none;
}

.text-link2:hover
{
  color                 : green;
  text-decoration       : underline;
  cursor                : pointer;
} 

.text-link2:hover:active
{
  color                 : #000000;
  text-decoration       : underline;
} 

.text-link2[visited="true"] 
{
  color                 : purple;
}

.text-linkAdmin
{
  color                 : blue;
  text-decoration       : none;
}

.text-linkAdmin:focus
{
  color                 : blue;
  text-decoration       : none;
}

.text-linkAdmin:hover
{
  color                 : blue;
  text-decoration       : underline;
  cursor                : pointer;
} 

.text-linkAdmin:hover:active
{
  color                 : blue;
  text-decoration       : underline;
} 

.text-linkAdmin[visited="true"] 
{
  color                 : purple;
}


#nav-toolbar
{
	background-color: #000000;
	color:#FFFFFF;
	
}

.nav-liste-prob
{
	margin : 2px 0px 2px 0px;
	background-color: #000000;
	padding:0 0 0 25px;  
	font-color:#FFFFFF;
}

#tbFilAriane
{
	margin : 0px 0px 2px 0px;
	background-color: #000000;
	padding:0 0 0 25px; 
	font-color:#FFFFFF;
}


.toolbox
{
		background-color:#000000;
	font-color:#FFFFFF;
}

.toolbarbutton {
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 0px 10px 0px 50px;
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 20px;
	font-color:#FFFFFF;
}


.toolbar
{
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 0px 10px 0px 10px;
	padding: 3px 5px 3px 5px;
	background-color:#000000;
	font-color:#FFFFFF;
}




.treeRub
{
	margin : 10px 10px 10px 10px;
}

.treeRubCols
{
	font-size: 12px !important;
	font-weight:bold;
	font-family: arial, verdana, sans-serif !important;
	background-color: #000000;
	color:#FFFFFF;
}

treechildren
{ 
	background-color:#000000; 
}


treechildren::-moz-tree-cell-text(selected)
{ 
	background-color: #FFFFFF; 
	color:#000000;
}

treechildren::-moz-tree-col 
{
	background-color: #000000;
	color:#FFFFFF;
}

treechildren::-moz-tree-row 
{
	background-color: #000000;
	color:#FFFFFF;
	
}

.treechildren::-moz-tree-progressmeter(RedBar)
{
  background-color: red;
  color:red;
}

treechildren::-moz-tree-indentation
{
  width: 10px;
}


treechildren::-moz-tree-row(RedRow)
{
  background-color: red;
}
treechildren::-moz-tree-row(YellowRow)
{
  background-color: yellow;
}
treechildren::-moz-tree-row(BlueRow)
{
  background-color: blue;
}

.footer 
{
	background-color:#000000;
	height:20px;
	-moz-box-align:end;
	color:#FFFFFF;
}

textbox
{
	font-size: 16px ;
}

menulist
{
	font-size: 16px ;
}

radio
{
	font-size: 16px ;
	color:#FFFFFF;
}


label.labelForm
{
	font-size: 16px ;
	color:#FFFFFF;
}

label
{
	margin-top: 2px;
