<plugin>
	<nom>Groupe de groupes de mot-clefs</nom>
	<auteur>
			Lucky Semiosis &copy; 2006 - Distribue sous licence GNU/GPL
	</auteur>
	<version>0.2</version>
	<etat>stable</etat>
	<description>Permet de cr&eacute;er des groupes de groupes de mot-clef</description>
	<pipeline>
		<nom>affiche_groupe_mot</nom>
		<action>affiche_groupe_mot</action>
		<inclure>g2g_admin.php</inclure>
	</pipeline>
	<pipeline>
		<nom>arbo_groupe</nom>
		<action>arbo_groupe</action>
		<inclure>g2g_admin.php</inclure>
	</pipeline>
	<pipeline>
		<nom>dans_groupe</nom>
		<action>dans_groupe</action>
		<inclure>g2g_admin.php</inclure>
	</pipeline>
	
	<prefix>g2g</prefix>
</plugin>