/* CSS file */


global
{
	backgroundColor: #000000;
	borderColor: #FFFFFF;
	backgroundAlpha: 1.0;
	color: #FBFDFD;
	disabledColor: #AAB3B3;
	textSelectedColor: #000000;
	textRollOverColor: #000000;
}
Application
{
	borderColor: #000000;
	color: #FFFFFF;
}
TextInput
{
	color: #000000;
}
Button
{
	themeColor: #FFFFFF;
	textRollOverColor: #000000;
	disabledColor: #FEFEFE;
	textSelectedColor: #000000;
	color: #FFFFFF;
}
Label
{
	color: #FCFEFE;
	fontFamily: Baghdad;
}
Alert
{
	borderColor: #000000;
	backgroundColor: #000000;
	controlBarStyleName: alertControlBar;
	titleStyleName: alertTitle;
	statusStyleName: alertStatus;
}
TitleWindow
{
	controlBarStyleName: titleWindowControlBar;
	borderColor: #010000;
	statusStyleName: titleWindowStatus;
}
